<div th:fragment="chapterCard(title, chapter)" class="card">
  <div class="cover">
    <img
      th:src="@{/thumbnail/{titleId}/{chapterNum}(titleId=${title.id}, chapterNum=${chapter.chapterNum})}"
      alt="Cover art"
      draggable="false"
    />
  </div>
  <div class="body">
    <h5 class="title" th:text="${chapter.name}">Chapter Name</h5>
    <p class="entries">
      <span th:text="${chapter.imageCount}">0</span>
      <span th:text="${chapter.imageCount == 1 ? 'image' : 'images'}"
        >images</span
      >
    </p>
  </div>
</div>
