<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{head}"></th:block>
    <title>Mango Reader</title>
  </head>
  <body class="library">
    <header class="fixed">
      <th:block th:insert="~{header}"></th:block>
    </header>
    <div class="content">
      <h1>Available titles</h1>
      <div class="titles cards-grid">
        <th:block th:each="title : ${titles}">
          <a th:href="@{/library/{id}(id=${title.id})}" class="no-link-decor">
            <div
              th:replace="~{fragments/title-card :: titleCard(${title})}"
            ></div>
          </a>
        </th:block>
      </div>
    </div>
  </body>
</html>
