<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{head}"></th:block>
    <title th:text="${chapter.name} + ' - ' + ${title.name}">
      Chapter Name - Title Name
    </title>
  </head>
  <body class="reader">
    <header>
      <th:block th:insert="~{header}"></th:block>
    </header>
    <div id="img-container">
      <div th:each="imageData : ${imageDatas}">
        <img
          th:src="@{/library/{mapping}(mapping=${imageData.mapping})}"
          th:alt="${imageData.name}"
          loading="lazy"
          draggable="false"
        />
      </div>
    </div>
    <div class="navigation">
      <a
        th:if="${chapter.chapterNum > 1}"
        th:href="@{/library/{titleId}/{chapterNum}(titleId=${title.id}, chapterNum=${chapter.chapterNum - 1})}"
        class="nav-link"
        >Previous Chapter</a
      >
      <a
        th:if="${chapter.chapterNum == 1 && title.chaptersCount > 1}"
        th:href="@{/library/{titleId}(titleId=${title.id})}"
        class="nav-link"
        >Back to all chapters</a
      >
      <a
        th:if="${chapter.chapterNum < title.chaptersCount}"
        th:href="@{/library/{titleId}/{chapterNum}(titleId=${title.id}, chapterNum=${chapter.chapterNum + 1})}"
        class="nav-link"
        >Next Chapter</a
      >
      <a
        th:if="${chapter.chapterNum == title.chaptersCount}"
        th:href="@{/}"
        class="nav-link"
        >Finish Reading</a
      >
    </div>
    <script th:src="@{/js/no-image-context-popups.js}"></script>
  </body>
</html>
